extends layout

block js
  script
    var refresh=#{refresh};

block content
  table.mainTable
    tr.matchRow
      td.match Match
      td.red Red Alliance
      td.blue Blue Alliance
      td.outcome Time / Result
    - var count = 0;
    - each row in data
      - var potential = [row.red1, row.red2, row.red3, row.blue1, row.blue2, row.blue3]
      - var spot = potential.indexOf(team)
      - if (spot > -1)
        - count += 1;
        - var redness = spot < 3 ? "myred" : "";
        - var blueness = spot > 2 ? "myblue" : "";
        tr.matchRow
          td.match #{row.match}
          td(class="red #{redness}")
            table
              tr
                - for(var i=0;i<3;i++)
                  - var myteam = spot == i ? "myTeam" : "";
                  td(class="oneTeam #{myteam}") #{row["red"+(i+1)]}
          td(class="blue #{blueness}")
            table
              tr
                - for(var i=0;i<3;i++)
                  - var myteam = spot == (i+3) ? "myTeam" : "";
                  td(class="oneTeam #{myteam}") #{row["blue"+(i+1)]}
          td.outcome
            - var first = spot < 3 ? "myTeam" : "";
            - var second = spot > 2 ? "myTeam" : "";
            - if (row.redscore != "" && row.bluescore != "" && count <= test)
              - var outcome = "";
              - if (row.redscore == row.bluescore)
                - outcome = "T";
              - else if ((spot < 3 && parseInt(row.redscore) > parseInt(row.bluescore)) || (spot > 2 && parseInt(row.redscore) < parseInt(row.bluescore)))
                - outcome = "W"
              - else
                - outcome = "L";
              table
                tr
                  td(class="oneTeam #{first}") #{row.redscore}
                  td(class="oneTeam #{second}") #{row.bluescore}
                  td(class="oneTeam") #{outcome}
            - else
              div.time #{row.time}
  #countdown
