extends layout

block css
  link(rel='stylesheet',href='style.css')

block js
  script
    var refresh=#{refresh};
  script(type='text/javascript',src='http://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js')
  script(type='text/javascript',src='script.js')

block content
  table.mainTable
    tr.matchRow
      td.rank 
        a Rank
      td.rank Team
      td.rank QS
      td.rank AP
      td.rank CP
      td.rank TP
      td.record Record
      td.rank DQ
      td.rank Played
    - var max = 10;
    - var num = Math.min(max,data.length);
    - var found = false;
    - for(var i=0;i<num;i++)
      - var row = data[i+test];
      - var myrow = "";
      - if (row.team == team)
        - found = true;
        - myrow = "myRow";
      tr.matchRow
        td(class="rank #{myrow}")= row.rank
        td(class="rank #{myrow}")= row.team
        td(class="rank #{myrow}")= row.qs
        td(class="rank #{myrow}")= row.ap
        td(class="rank #{myrow}")= row.cp
        td(class="rank #{myrow}")= row.tp
        td(class="record #{myrow}")= row.record
        td(class="rank #{myrow}")= row.dq
        td(class="rank #{myrow}")= row.played
    - if(!found)
      - for(var i=num;i<data.length;i++)
        - var row = data[i];
        - if (row.team == team)
          - myrow = "myRow";
          tr.matchRow
          tr.matchRow
            td(class="rank #{myrow}")= row.rank
            td(class="rank #{myrow}")= row.team
            td(class="rank #{myrow}")= row.qs
            td(class="rank #{myrow}")= row.ap
            td(class="rank #{myrow}")= row.cp
            td(class="rank #{myrow}")= row.tp
            td(class="record #{myrow}")= row.record
            td(class="rank #{myrow}")= row.dq
            td(class="rank #{myrow}")= row.played
          - break;
